<script src="js/ddp.js"></script>
<script src="js/nqm-bundle.js"></script>
<script src="js/webix-proxy.js"></script>
<script type="text/javascript">
    
    var contentUI = {
        type: "space",
                cols: [
        {
            header: "notifications",
            collapsed: true,
            body: {
                rows: [
                    { view: "label", template: "<div>nick allott requests access to file-system.read</div>" },
                    { view: "label", template: "<div>nick allott requests access to front-room.temperature</div>" },
                    {}
                ]
            }
        },
        {
            id: "capabilityTabBar",
            view:"tabview",
            tabbar: { optionWidth: 100},
            multiview: { animate: true },
            gravity: 3,
            cells: [
                {
                    header: "running",
                    body: { 
                        view: "list",
                        template: "#appId#",
                        url: webix.proxy("meteor","dataset.NyCJ-1Uxe")
                    }
                },
                {
                    header: "installed",
                    body:  { template: "expired"}
                }
            ]
        },
        {
            view: "resizer"
        },
        {
            id: "tokenDataContainer",
            gravity: 1,
            rows: [
                {
                    id: "activeTokenDataContainer",
                    header: "capability",
                    body: {
                        id: "activeTokenData",
                        view: "property",
                        elements: []
                    }
                },
                {
                    id: "expiredTokenDataContainer",
                    hidden: true,
                    header: "capability",
                    body: {
                        id: "expiredTokenData",
                        view: "property",
                        elements: []
                    }
                },
                {
                    id: "newTokenDataContainer",
                    hidden: true,
                    header: "capability",
                    body: {
                        id: "newTokenData",
                        view: "property",
                        elements: []
                    }
                }
            ]
        }
    ]};

</script>