<!DOCTYPE HTML>
<html>
<head>
    <link rel="stylesheet" href="webix/webix.css" type="text/css">
    <link href="font/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <script src="webix/webix_debug.js" type="text/javascript"></script>
</head>
<body>
<script type="text/javascript" charset="utf-8">
    webix.debug = true;
    webix.ui.fullScreen();
    webix.ready(function() {
        webix.ui({
            id: "mainLayout",
            rows:[
                {
                    view:"toolbar",
                    height: 45,
                    elements: [
                        { view: "label", template: "<div id='picoHeader'><span class='picoHeaderTitle'> &mdash; authentication server</span>"},
                        {},
                        {view:"label", template: "<div style='text-align: right;'>toby.ealden</div>" },
                        {view:"icon", icon:"user"},
                        {view:"icon", icon:"cog"}
                    ]
                },
                {
                    type: "space",
                    cols: [
                        {
                            header: "notifications",
                            collapsed: true,
                            body: {
                                rows: [
                                    { view: "label", template: "<div>nick allott requests access to file-system.read</div>" },
                                    { view: "label", template: "<div>nick allott requests access to front-room.temperature</div>" },
                                    {}
                                ]
                            }
                        },
                        {
                            id: "capabilityTabBar",
                            view:"tabview",
                            tabbar: { optionWidth: 100},
                            multiview: { animate: true },
                            gravity: 3,
                            cells: [
                                {
                                    header: "active",
                                    body: { template: "active"}
                                },
                                {
                                    header: "expired",
                                    body:  { template: "expired"}
                                },
                                {
                                    header: "new",
                                    body:  { template: "new"}
                                }
                            ]
                        },
                        {
                            view: "resizer"
                        },
                        {
                            id: "tokenDataContainer",
                            gravity: 1,
                            rows: [
                                {
                                    id: "activeTokenDataContainer",
                                    header: "capability",
                                    body: {
                                        id: "activeTokenData",
                                        view: "property",
                                        elements: []
                                    }
                                },
                                {
                                    id: "expiredTokenDataContainer",
                                    hidden: true,
                                    header: "capability",
                                    body: {
                                        id: "expiredTokenData",
                                        view: "property",
                                        elements: []
                                    }
                                },
                                {
                                    id: "newTokenDataContainer",
                                    hidden: true,
                                    header: "capability",
                                    body: {
                                        id: "newTokenData",
                                        view: "property",
                                        elements: []
                                    }
                                }
                            ]
                        }
                    ]
                },
                {
                    view: "toolbar",
                    height: 45,
                    elements: [
                        { view: "label", id: "version", template: "<div style='font-size: .8em;'>v 0.0.12</div>" },
                        {},
                        { view: "label", id: "timestamp", template: "<div style='text-align: right;font-size: .8em;'>" + (new Date().toUTCString()) + "</div>" }
                    ]
                }
            ]
        });
    });
</script>
</body>
</html>
